<!DOCTYPE html>
<html lang="zh">
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<!--{@info.desc}-->">
    <meta name="author" content="cosmic">
    <meta name="keywords" content="<!--{@info.key}-->">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>
      <!--{@info.title}-->
    </title>

    <!-- Bootstrap core CSS -->
    <link href="<!--{@style}-->css/bootstrap.min.css" rel="stylesheet">
    <link href="<!--{@style}-->css/theme.css" rel="stylesheet">
    <link href="<!--{@style}-->css/bootstrap-reset.css" rel="stylesheet">


    <!--external css-->
    <link href="<!--{@style}-->assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="<!--{@style}-->css/flexslider.css"/>
    <link href="<!--{@style}-->assets/bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link rel="stylesheet" href="<!--{@style}-->css/animate.css">
    <link rel="stylesheet" href="<!--{@style}-->assets/owlcarousel/owl.carousel.css">
    <link rel="stylesheet" href="<!--{@style}-->assets/owlcarousel/owl.theme.css">
    <link rel="stylesheet" href="<!--{@style}-->css/seq-slider/sequencejs-theme.sliding-horizontal-parallax.css" />

    <link href="<!--{@style}-->css/superfish.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>


    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="<!--{@style}-->css/component.css">
    <link href="<!--{@style}-->css/style.css" rel="stylesheet">
    <link href="<!--{@style}-->css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="<!--{@style}-->js/html5shiv.js">
    </script>
    <script src="<!--{@style}-->js/respond.min.js">
    </script>
    <![endif]-->
  </head>

  <body>
    <!--header start-->
    <header class="head-section">
      <div class="navbar navbar-default navbar-static-top container">
          <div class="navbar-header">
              <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html">珠海<span>协和成</span>信息技术有限公司</a>
          </div>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li class="dropdown">
                      <a class="dropdown-toggle" href="./index.php">首 页</a>
                  </li>
                  <!--{@menu:{0}}-->
                  <li class="dropdown">
                      <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover=
                      "dropdown" data-toggle="dropdown" href="#"><!--{@menu.Channels_Name}-->
                      </a>
                    <!--{@if {#menu.Channels_Id}}-->
                    <ul class="dropdown-menu">
                        <!--{@menu:{{#menu.Channels_Id}}}-->
                          <li>
                              <a href="typography.html"><!--{@menu.Channels_Name}--> </a>
                          </li>
                          <!--{@/menu}-->
                        </ul>
                        <!--{@/endif}-->
                  </li>
                  <!--{@/menu}-->
                  <li><input class="form-control search" placeholder=" Search" type="text"></li>
              </ul>
          </div>
      </div>
    </header>
    <!--header end-->
